body {
	font-family : 'Optima', sans-serif;
	font-size   : 10pt;
}

h1, h2, h3 {
	font-family : 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight : normal;
}

h3 {
	font-size : 18pt;
	font-weight : lighter;
}

h2 {
	font-size   : 18pt;
	font-weight : bold;
}

h1 {
	font-size : 24pt;
}

code, pre {
	font-family : 'Monaco', monospace;
}

pre {
	margin : 1em;
}

:link, :visited {
	text-decoration : underline;
	color : inherit;
}

:visited {
	text-decoration : none;
	color : #888;
}
