body {
	font-family : 'Optima', sans-serif;
	font-size   : 13pt;
}

h1, h2, h3 {
	font-family : 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight : normal;
}

h3 {
	font-size : 18pt;
	font-weight : lighter;
}

h2 {
	font-size   : 18pt;
	font-weight : bold;
}

h1 {
	font-size : 24pt;
}

/* jQuery, please obey the page styles here */
.ui-widget, .ui-widget-content {
	font-family : inherit;
	font-size   : inherit;
}

#credits {
	font-family : 'Palatino', serif;
}