h1:after {
	content : ' \2740';
	color   : #1b4584;
}

h2:after {
	content : ' \00a7';
	color   : #1b4584;
}

h3:before {
	content : '\2766  ';
	color   : #1b4584;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a {
	cursor : default;
}

.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor : wait;
}

.fade-vertical {
	padding-top    : 12px;
	padding-bottom : 12px;
	
	-webkit-mask-box-image : url(../images/fadev.png) 12 0 12 0 round;
}

.fade-horizontal {
	padding-left  : 12px;
	padding-right : 12px;
	
	-webkit-mask-box-image : url(../images/fadeh.png) 12 stretch;
}
