h1, h2, h3 {
	margin : auto;
}

h2 {
	float : right;
}

.column {
	float : left;
	clear : right;
	width : 50%;
}

.profile .gravatar {
	margin : auto 3em auto auto;
	float  : left;
}

.gist {
	margin : auto;
	width  : 80%;
}

.gist .gist-data {
	overflow : auto;
	max-height : 300px;
}
