h1 {
	margin : 0.5em;
}

h2, h3 {
	margin : auto;
}

h2 {
	float : right;
	clear : both;
	
	margin-bottom : -100%;
	
	text-align : right;
}

* + h3 {
	margin-top : 2em;
}

.column {
	float : left;
	clear : right;
	width : 50%;
}

.profile .gravatar {
	margin : auto 3em auto auto;
	float  : left;
}

.twitter {
	overflow : auto;
	max-height : 200px;
}

.twitter .tweet:first-child {
	color : #dc8;
}

#sections, #credits {
	clear   : both;
	margin  : 2em;
	padding : 0.5em;
	width   : auto;
}

#sections {
	margin-top : auto;
}

#credits {
	text-align : center;
}
