html {
    background-color: #111;
    color: #ccc;

    font-family: monospace;
    font-size: 18px;

    text-shadow:
        +1px  1px 0   #000,
        +1px -1px 0   #000,
        -1px  1px 0   #000,
        -1px -1px 0   #000,
        +0    0   4px #fff;
}

blockquote {
    border: 2px solid #ccc;
    padding: 1em;
}

img {
    max-width: 100%;
}

a:link,
a:hover,
a:visited {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1 { color: #fc8690 }

h2 { color: #89ff6b }
h2:before { content: '[' }
h2:after  { content: ']' }

h1, h2, p, ul, dl, dd {
    margin-bottom: 1em;
}

ul > li:before {
    content: '* ';
}

dt:after { content: ' => '}

em     { font-style: italic }
strong { font-weight: bold }

.terminal {
    margin: 1em;
}

.addr  { color: #808080 }
.hex   { color: #6be0ff }
.ascii { color: #ffd628 }
