img:not([src]) {
	background-image    : url(../images/spinner.gif);
	background-position : center;
}
.spinner {
	display : block;
	width 
	
	background-image    : url(../images/spinner.gif);
	background-position : center;
}
