--- 
--- 
<!DOCTYPE html>
<html>
  <head>
    <title>{{site.title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% link css/normalize.css %}"/>
    <link rel="stylesheet" href="{% link css/protagonist.scss %}"/>
    <link rel="stylesheet" href="{% link css/my.scss %}"/>
    <link rel="me" href="https://monsterpit.net/@monolith"/>
    <link rel="me" href="https://cybre.space/@bossposs"/>
  </head>
  <body>
    <section class="story">
      <div class="passage">{{content}}</div>
    </section>
  </body>
</html>
